.root {
  position: relative;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.section {
  &Header {
    margin: var(--spacing) 0;
  }

  a {
    display: inline-block;
  }
}
