.root {
  &:hover,
  &:focus {
    background: rgba(0, 0, 0, 0.1);
  }
  &:active {
    background: rgba(0, 0, 0, 0.2);
  }
  &[disabled] {
    &:hover {
      background: var(--palette-background);
    }
    border-color: var(--palette-disabled);
    color: var(--palette-disabled);
    cursor: auto;
  }
  appearance: none;
  background: var(--palette-background);
  border-radius: 4px;
  border: 1px solid currentColor;
  color: var(--palette-default);
  cursor: pointer;
  height: 32px;
  padding: var(--spacing);
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  text-transform: uppercase;
  font-size: var(--typography-button);
  font-weight: 600;
  transition: 200ms;
  outline: 0;
}

.active {
  background: rgba(0, 0, 0, 0.2);
}

.primary {
  color: var(--palette-primary);
}

.success {
  color: var(--palette-success);
}

.error {
  color: var(--palette-error);
}
