.root {
  text-align: justify;

  p {
    margin: calc(var(--spacing) * 2) 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: calc(var(--spacing) * 4);
    }
  }

  .image {
    float: left;
    margin: 0 var(--spacing) 0 0;

    &Right {
      float: right;
      margin: 0 0 0 var(--spacing);
    }
  }
}

.clearFix {
  clear: both;
}
