.root {
  align-items: center;
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  gap: calc(var(--spacing) * 2);
}

.image {
  max-height: 600px;
  margin: 0 auto;
}

.text {
  margin-top: calc(var(--spacing) * 3);
  text-align: center;
}
