.root {
  position: relative;
}

.header {
  margin-bottom: calc(var(--spacing) * 3);

  &Bar {
    display: flex;
    width: 100%;
    justify-content: space-between;

    h1 {
      margin-bottom: 0;
    }
  }

  &Caption {
    display: block;
  }
}

.footer {
  border-top: 1px solid var(--palette-border);
  margin-top: calc(var(--spacing) * 3);
  padding: calc(var(--spacing) * 3) 0 calc(var(--spacing) * 4);

  h6 {
    margin: var(--spacing) 0;
  }

  &Tags {
    display: flex;
    gap: var(--spacing);

    &:header {
      margin: 0 0 var(--spacing);
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }

  hr {
    background-color: var(--palette-border);
    border: none;
    height: 1px;
    margin: calc(var(--spacing) * 3) 0;
  }
}
