.root {
  position: relative;
}

.editorWrapper {
  --height: calc(100vh - 27.2rem);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(var(--spacing) * 1.5);
}

.editor {
  appearance: none;
  border: none;
  font-size: var(--typography-default);
  resize: none;
  height: var(--height);
  outline: 0;
}

.preview {
  border-left: 1px solid var(--palette-default);
  padding-left: calc(var(--spacing) * 1.5);
  height: var(--height);
  overflow: scroll;
}

.title {
  font-size: var(--typography-h1);
  font-weight: 600;
  border: none;
  border-bottom: 1px solid var(--palette-default);
  width: 100%;
  margin-bottom: calc(var(--spacing) * 3);
  outline: 0;
}
