*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  padding: 0;
}

button,
input,
textarea {
  color: inherit;
}

input,
textarea {
  background: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap");

:root {
  --typography-default: 1.6rem;
  --typography-button: 1.3rem;
  --typography-input: 1.6rem;
  --typography-h1: 3.7rem;
  --typography-h2: 3.2rem;
  --typography-h3: 2.8rem;
  --typography-h4: 2.4rem;
  --typography-h5: 2.1rem;
  --typography-h6: 1.9rem;
  --typography-small: 1.3rem;

  --spacing: 0.8rem;
  --site-width: 640px;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--palette-background);
  font-family: "Space Grotesk", sans-serif;
  font-size: var(--typography-default);
  color: var(--palette-default);
}

h1 {
  font-size: var(--typography-h1);
  margin-bottom: calc(var(--spacing) * 3);
}

h2 {
  font-size: var(--typography-h2);
  margin-bottom: calc(var(--spacing) * 2);
}

h3 {
  font-size: var(--typography-h3);
  margin-bottom: calc(var(--spacing));
}

h4 {
  font-size: var(--typography-h4);
}

h5 {
  font-size: var(--typography-h5);
}

h6 {
  font-size: var(--typography-h6);
}

small {
  font-size: var(--typography-small);
}

a {
  color: var(--palette-link);

  &:visited {
    color: var(--palette-link-visited);
  }
}

blockquote {
  border: 1px solid var(--palette-default);
  padding: calc(var(--spacing) * 3);
  margin: var(--spacing) 0;
  border-radius: 4px;

  p:last-child {
    margin-bottom: 0;
  }
}
