.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--spacing) * 3);
}

.titleText {
  margin: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: calc(var(--spacing) * 3);
  gap: var(--spacing);
}

.close {
  flex: none;
}
