.root {
  position: relative;
}

.editor {
  appearance: none;
  border: none;
  font-size: var(--typography-default);
  resize: none;
  height: var(--height);
  outline: 0;

  &Wrapper {
    --height: calc(100vh - 27.2rem);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--spacing) * 1.5);
  }

  &RightPane {
    border-left: 1px solid var(--palette-default);
    padding-left: calc(var(--spacing) * 1.5);
    height: var(--height);
    overflow: scroll;

    &Tabs {
      display: inline-block;
      margin-bottom: calc(var(--spacing) * 2);

      &Container {
        text-align: right;
      }
    }

    &Tags {
      display: flex;
      gap: var(--spacing);
    }

    &References {
      display: flex;
      gap: var(--spacing);
    }
  }
}
