.root {
  position: relative;
}

.editor {
  appearance: none;
  border: none;
  font-size: var(--typography-default);
  resize: none;
  height: var(--height);
  outline: 0;
  line-height: 1.6;

  &Tabs {
    display: inline-block;
    position: absolute;
    top: calc(var(--spacing) * 2);
    right: 0;
  }

  &Wrapper {
    --height: calc(100vh - 27.2rem);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--spacing) * 1.5);
  }

  &RightPane {
    border-left: 1px solid var(--palette-border);
    padding-left: calc(var(--spacing) * 1.5);
    height: var(--height);
    overflow: scroll;

    &Tags,
    &References {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing);

      a {
        white-space: nowrap;
      }
    }
  }
}
