.item {
  align-items: center;
  box-shadow: none;
  display: grid;
  grid-template-columns: 300px 1fr 32px;
  gap: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 3);
  padding: calc(var(--spacing) * 2);

  &:first-child,
  &:last-child {
    margin-bottom: 0;
  }

  &Highlighted {
    border-color: var(--palette-warning);

    & &Icon {
      color: var(--palette-warning);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: calc(var(--spacing) * 3);
}
